section.article-description {
    display: grid;
    gap: var(--low-size);

    span.tag,
    div.data {
        font-size: var(--low-size);
    }

    span.tag {
        max-width: 73px;
        padding: var(--minimun-size) var(--low-size);
        font-weight: 800;
        background-color: var(--yellow);
        border-radius: var(--minimun-size);
    }

    h1 {
        font-size: var(--high-radius);
        font-weight: 900;

        a {
            text-decoration: none;
            color: var(--gray-950);
            transition: color .5s ease;
            cursor: pointer;
        }

        a:hover {
            color: var(--yellow);
        }
    }

    p {
        font-size: 14px;
        color: var(--gray-500);
    }
}


@media screen and (min-width: 640px) {
    section.article-description {

        span.tag,
        div.data {
            font-size: 14px;
        }

        span.tag {
            max-width: 82px;
        }

        h1 {
            font-size: var(--high-size);
        }

        p {
            font-size: var(--medium-size);
        }
    }
}