main.container {
    padding: var(--high-space);
    background-color: var(--white);
    border: 1px solid var(--gray-950);
    border-radius: var(--high-radius);
    box-shadow: var(--low-space) var(--low-space);
}