* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

html {
    width: 100vw;
    height: 100dvh;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--high-size);
    color: var(--grey-950);
    background-color: var(--yellow);
}