@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    
    /* Colors */
    
    --white: #FFFFFF;
    --yellow: #F4D04E;
    --gray-500: #6B6B6B;
    --gray-950: #111111;

    /* size */

    --high-size: 24px;
    --medium-size: 16px;
    --low-size: 12px;
    --very-low-size: 8px;
    --minimun-size: 4px;

    /* border-radius */
    --high-radius: 20px;
    --medium-radius: 10px;
}